In [4]:
import os
import pandas as pd
import numpy as np

Primero cargamos la sbases de datos

In [5]:
dire=os.getcwd()
sal=pd.read_csv(dire + '\\Salarios.txt', sep=',')
sal.head(3)

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
0,2013,1,Public Protection,FIR,FIR Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,H003,...,37216,123841.28,76853.77,14922.05,215617.10,24574.98,14920.13,3589.87,43084.98,258702.08
1,2014,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,261.0,"Laborers, Local 261",7500,Semi-Skilled & General Labor,7514,...,24950,61137.60,7341.04,9218.74,77697.38,14897.71,12516.70,6117.99,33532.40,111229.78
2,2016,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,27447,41192.82,0.00,390.00,41582.82,6996.41,11308.96,3200.69,21506.06,63088.88

In [8]:
list(sal.columns)

['Anio',
 'Codigo_Grupo',
 'Grupo',
 'Codigo_Departamento',
 'Departamento',
 'Codigo_Representante',
 'Representante',
 'Codigo_Familia',
 'Familia',
 'Codigo_Trabajo',
 'Trabajo',
 'ID_EMPLEADO',
 'Salario_Normal',
 'Tiempo_Extra',
 'Complementos',
 'Total_Salario',
 'Retiro',
 'Beneficio_Dental',
 'Otros_Beneficios',
 'Total_Beneficios',
 'Compensacion_Total']

In [9]:
sal.dtypes

Anio                      int64
Codigo_Grupo              int64
Grupo                    object
Codigo_Departamento      object
Departamento             object
Codigo_Representante    float64
Representante            object
Codigo_Familia           object
Familia                  object
Codigo_Trabajo           object
Trabajo                  object
ID_EMPLEADO               int64
Salario_Normal          float64
Tiempo_Extra            float64
Complementos            float64
Total_Salario           float64
Retiro                  float64
Beneficio_Dental        float64
Otros_Beneficios        float64
Total_Beneficios        float64
Compensacion_Total      float64
dtype: object

In [10]:
sal=pd.read_csv(dire + '\\Salarios.txt', sep=',',
                 dtype={'Anio':np.str_,'ID_EMPLEADO':np.str_}
                )
sal.dtypes

Anio                     object
Codigo_Grupo              int64
Grupo                    object
Codigo_Departamento      object
Departamento             object
Codigo_Representante    float64
Representante            object
Codigo_Familia           object
Familia                  object
Codigo_Trabajo           object
Trabajo                  object
ID_EMPLEADO              object
Salario_Normal          float64
Tiempo_Extra            float64
Complementos            float64
Total_Salario           float64
Retiro                  float64
Beneficio_Dental        float64
Otros_Beneficios        float64
Total_Beneficios        float64
Compensacion_Total      float64
dtype: object

### Resumen estadistico de las variables de un Dataframe

Empezamos por introducir el comando **df.describe(precentiles,include)** donde:

- **percentiles:** Lista con percentiles que se desea ver para las variables numericas

- **include:** 'All' para incluir las variables no numericas, 'category' para ver unicamente variables no numericas

In [11]:
sal.describe([.25,.5,.75,.99]).round(3)

,Codigo_Grupo,Codigo_Representante,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
count,213202.000,212987.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000
mean,2.982,491.267,63818.588,4510.403,3744.676,72073.668,12623.468,9054.335,4721.223,26399.026,98472.694
std,1.583,333.679,45437.255,11328.051,7508.718,53020.016,9662.664,5027.354,3933.456,16904.667,68691.650
min,1.000,1.000,-68771.780,-12308.660,-19131.100,-68771.780,-28723.190,-2946.530,-9857.740,-19814.440,-74082.610
25%,2.000,236.000,23165.535,0.000,0.000,25100.688,3204.380,4272.070,1578.132,9302.352,35380.338
50%,2.000,535.000,63210.840,0.000,690.715,68641.710,12837.990,12132.890,4395.385,30311.045,98783.275
75%,4.000,790.000,93215.010,2872.013,4536.872,104364.957,19117.240,12828.708,6950.228,38497.888,143207.460
99%,6.000,911.000,188023.550,56603.823,29214.306,213432.589,37787.618,15715.730,18371.823,64665.301,268397.750
max,7.000,990.000,533985.940,227313.620,336726.340,533985.940,101306.010,22270.120,36815.390,138503.520,668412.410

In [12]:
sal.describe(include='all').round(3)

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
count,213202,213202.000,213202,213202,213202,212987.000,212987,212982,212982,213202,...,213202,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000,213202.000
unique,5,NaN,7,56,56,NaN,77,63,57,1156,...,56985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2017,NaN,"Public Works, Transportation & Commerce",DPH,DPH Public Health,NaN,"SEIU - Miscellaneous, Local 1021",2300,Nursing,9163,...,07195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,45693,NaN,67289,46121,46121,NaN,60811,21856,21856,13089,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.982,NaN,NaN,NaN,491.267,NaN,NaN,NaN,NaN,...,NaN,63818.588,4510.403,3744.676,72073.668,12623.468,9054.335,4721.223,26399.026,98472.694
std,NaN,1.583,NaN,NaN,NaN,333.679,NaN,NaN,NaN,NaN,...,NaN,45437.255,11328.051,7508.718,53020.016,9662.664,5027.354,3933.456,16904.667,68691.650
min,NaN,1.000,NaN,NaN,NaN,1.000,NaN,NaN,NaN,NaN,...,NaN,-68771.780,-12308.660,-19131.100,-68771.780,-28723.190,-2946.530,-9857.740,-19814.440,-74082.610
25%,NaN,2.000,NaN,NaN,NaN,236.000,NaN,NaN,NaN,NaN,...,NaN,23165.535,0.000,0.000,25100.688,3204.380,4272.070,1578.132,9302.352,35380.338
50%,NaN,2.000,NaN,NaN,NaN,535.000,NaN,NaN,NaN,NaN,...,NaN,63210.840,0.000,690.715,68641.710,12837.990,12132.890,4395.385,30311.045,98783.275
75%,NaN,4.000,NaN,NaN,NaN,790.000,NaN,NaN,NaN,NaN,...,NaN,93215.010,2872.013,4536.872,104364.957,19117.240,12828.708,6950.228,38497.888,143207.460
max,NaN,7.000,NaN,NaN,NaN,990.000,NaN,NaN,NaN,NaN,...,NaN,533985.940,227313.620,336726.340,533985.940,101306.010,22270.120,36815.390,138503.520,668412.410

In [13]:
# Aplicando el resumen a un subdataframe

cols= ['Salario_Normal', 'Tiempo_Extra']
sal[:10][ cols ].describe()

       Salario_Normal  Tiempo_Extra
count       10.000000     10.000000
mean     66021.532000  13687.629000
std      41968.566386  24626.352143
min        391.250000      0.000000
25%      43682.740000      0.000000
50%      64065.640000    161.390000
75%      73724.390000  21128.912500
max     141778.270000  76853.770000

### Seleccion de Filas y Columnas

In [14]:
#Si seleccionamos solamente la columna nos regresara un pandas.series
sal['Anio'].head()

0    2013
1    2014
2    2016
3    2015
4    2013
Name: Anio, dtype: object

In [15]:
# Si selecionamos la columna como lista, regresa un dataframe
sal[['Anio']].head()

   Anio
0  2013
1  2014
2  2016
3  2015
4  2013

In [16]:
#Seleccionar mas de una columna [[lista]]

sal[['Anio','Grupo','Departamento','Representante']].head()

,Anio,Grupo,Departamento,Representante
0,2013,Public Protection,FIR Fire Department,"Firefighters - Miscellaneous, Local 798"
1,2014,"Public Works, Transportation & Commerce",MTA Municipal Transprtn Agncy,"Laborers, Local 261"
2,2016,"Public Works, Transportation & Commerce",AIR Airport Commission,"SEIU - Miscellaneous, Local 1021"
3,2015,"Public Works, Transportation & Commerce",MTA Municipal Transprtn Agncy,"Transport Workers - Transit Operators, Local 2..."
4,2013,"Public Works, Transportation & Commerce",DPW GSA - Public Works,"Prof & Tech Engineers - Miscellaneous, Local 21"

In [17]:
# Seleccionar filas
sal[100:]  # Selecciona filas desde 100 hasta  salarios.shape[0]

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
100,2013,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,130.0,"Automotive Machinists, Local 1414",7200,Supervisory-Labor & Trade,7249,...,52061,0.00,0.00,3036.99,3036.99,0.00,0.00,232.34,232.34,3269.33
101,2016,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,790.0,"SEIU - Miscellaneous, Local 1021",9100,Street Transit,9102,...,15308,64121.40,24566.58,13909.34,102597.32,13664.67,13125.68,8325.35,35115.70,137713.02
102,2013,4,Community Health,DPH,DPH Public Health,791.0,"SEIU - Staff and Per Diem Nurses, Local 1021",2300,Nursing,P103,...,27226,38709.05,112.93,6097.49,44919.47,0.00,3805.28,7879.75,11685.03,56604.50
103,2015,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,253.0,"Transport Workers - Transit Operators, Local 2...",9100,Street Transit,9163,...,03353,67843.84,28275.78,7961.74,104081.36,22523.96,13587.20,8156.02,44267.18,148348.54
104,2016,4,Community Health,DPH,DPH Public Health,250.0,"SEIU - Health Workers, Local 1021",2600,Dietary & Food,2604,...,05183,10971.30,0.00,864.96,11836.26,0.00,3495.16,918.80,4413.96,16250.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213197,2014,1,Public Protection,POL,POL Police,911.0,Police Officers' Association,Q000,Police Services,Q002,...,13783,112164.03,2571.56,5831.09,120566.68,22958.27,12468.77,1076.92,36503.96,157070.64
213198,2015,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",9200,Airport Operation,9202,...,04600,82726.75,3302.74,2500.37,88529.86,18999.58,12416.14,7259.55,38675.27,127205.13
213199,2014,4,Community Health,DPH,DPH Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2500,Med Therapy & Auxiliary,2574,...,40036,102331.86,0.00,1668.01,103999.87,22172.83,12468.77,8485.99,43127.59,147127.46
213200,2013,6,General Administration & Finance,ADM,ADM Gen Svcs Agency-City Admin,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1426,...,01371,21993.22,208.69,561.98,22763.89,4107.30,4835.23,1848.17,10790.70,33554.59
213201,2015,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,200.0,"Transportation Workers, Local 200",9100,Street Transit,9139,...,27911,91141.48,5946.90,5977.84,103066.22,20681.37,12523.01,8460.37,41664.75,144730.97

In [18]:
sal[:5]    # Selecciona filas de 0 hasta 4

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
0,2013,1,Public Protection,FIR,FIR Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,H003,...,37216,123841.28,76853.77,14922.05,215617.10,24574.98,14920.13,3589.87,43084.98,258702.08
1,2014,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,261.0,"Laborers, Local 261",7500,Semi-Skilled & General Labor,7514,...,24950,61137.60,7341.04,9218.74,77697.38,14897.71,12516.70,6117.99,33532.40,111229.78
2,2016,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,27447,41192.82,0.00,390.00,41582.82,6996.41,11308.96,3200.69,21506.06,63088.88
3,2015,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,253.0,"Transport Workers - Transit Operators, Local 2...",9100,Street Transit,9163,...,42001,66993.68,26633.83,4494.98,98122.49,21231.91,13417.45,7449.63,42098.99,140221.48
4,2013,2,"Public Works, Transportation & Commerce",DPW,DPW GSA - Public Works,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",5200,Professional Engineering,5201,...,22142,74260.80,0.00,0.00,74260.80,13522.95,11989.39,5977.19,31489.53,105750.33

In [19]:
sal[4:5]   # Selecciona fila 4

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
4,2013,2,"Public Works, Transportation & Commerce",DPW,DPW GSA - Public Works,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",5200,Professional Engineering,5201,...,22142,74260.8,0.0,0.0,74260.8,13522.95,11989.39,5977.19,31489.53,105750.33

## Ordenar Dataframes

Empezamos por introducir el comando **df.sort_values(cols,ascending)** donde:

- **cols:** Columnas con las que se quiere ordenar (lista de columnas)
- **ascending:** True Ã³ False para que el orden sea de forma ascendente (por default es ascendente)

Ordenar la base de Salarios de forma ascendente por aÃ±o

In [20]:
print(sal.sort_values(['Anio'],ascending=True).head(2)  )

       Anio  Codigo_Grupo              Grupo Codigo_Departamento  \
0      2013             1  Public Protection                 FIR
34757  2013             1  Public Protection                 FIR

              Departamento  Codigo_Representante  \
0      FIR Fire Department                 798.0
34757  FIR Fire Department                 798.0

                                 Representante Codigo_Familia        Familia  \
0      Firefighters - Miscellaneous, Local 798           H000  Fire Services
34757  Firefighters - Miscellaneous, Local 798           H000  Fire Services

      Codigo_Trabajo  ... ID_EMPLEADO Salario_Normal  Tiempo_Extra  \
0               H003  ...       37216      123841.28      76853.77
34757           H002  ...       40848      112889.81       4933.43

       Complementos  Total_Salario    Retiro  Beneficio_Dental  \
0          14922.05      215617.10  24574.98          14920.13
34757      14268.27      132091.51  21868.52          15715.72

       Otros_Beneficios  Total_Beneficios  Compensacion_Total
0               3589.87          43084.98           258702.08
34757           2191.93          39776.17           171867.68

[2 rows x 21 columns]

Ordenar la base de salarios de forma descendente por codigo de grupo y aÃ±o

In [21]:
print(sal.sort_values(['Codigo_Grupo','Anio'],ascending=False).head(2)  )

      Anio  Codigo_Grupo                          Grupo Codigo_Departamento  \
4822  2017             7  General City Responsibilities                 UNA
5316  2017             7  General City Responsibilities                 UNA

                        Departamento  Codigo_Representante  \
4822  GEN General City / Unallocated                 351.0
5316  GEN General City / Unallocated                 790.0

                                        Representante Codigo_Familia  \
4822  Municipal Executive Association - Miscellaneous           0900
5316                 SEIU - Miscellaneous, Local 1021           2900

             Familia Codigo_Trabajo  ... ID_EMPLEADO Salario_Normal  \
4822      Management           0922  ...       15625        9299.28
5316  Human Services           2930  ...       49163        7236.00

      Tiempo_Extra  Complementos  Total_Salario   Retiro  Beneficio_Dental  \
4822           0.0           0.0        9299.28  1650.62           1054.83
5316           0.0           0.0        7236.00  1319.12           1054.83

      Otros_Beneficios  Total_Beneficios  Compensacion_Total
4822           1375.48           4080.93            13380.21
5316            591.91           2965.86            10201.86

[2 rows x 21 columns]

Podemos filtrar las columnas que cumplan determinada condicion, por ejemplo que el salario normal sea mayor a 20000

In [71]:
sal_fil=sal[sal.Salario_Normal>=20000]
sal_fil[['Salario_Normal']].min()

Salario_Normal    20000.0
dtype: float64

Para generar condiciones dentro de los filtros podemos usar 
               
               - >  Mayor que
    
               - <  Menor que
        
               - >= Mayor o igual que
            
               - <= Menor o igual que
                
               - == Igual que
            
               - != Diferente de
                
               - isin(lista)
            
               - df.index

In [22]:
#Filtro con 2 condiciones
# Seleccionamos los registros de la base salarios donde el aÃ±o sea mayor o igual a 2016

sal[(sal.Anio=='2016')|(sal.Anio=='2017')]

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,ID_EMPLEADO,Salario_Normal,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total
2,2016,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,27447,41192.82,0.00,390.00,41582.82,6996.41,11308.96,3200.69,21506.06,63088.88
19,2017,4,Community Health,DPH,DPH Public Health,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,08954,59080.32,0.00,1080.00,60160.32,12417.05,13765.55,4662.51,30845.11,91005.43
20,2016,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,200.0,"Transportation Workers, Local 200",9100,Street Transit,9139,...,39797,83324.03,60873.06,9224.16,153421.25,16857.19,11566.69,10699.36,39123.24,192544.49
27,2016,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,253.0,"Transport Workers - Transit Operators, Local 2...",9100,Street Transit,9163,...,11030,71031.89,24709.34,6471.83,102213.06,18663.72,14371.85,7563.05,40598.62,142811.68
29,2017,2,"Public Works, Transportation & Commerce",DBI,DBI Building Inspection,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",6200,Public Safety Inspection,6270,...,32327,104344.24,0.00,4173.76,108518.00,19782.78,13765.55,8503.39,42051.72,150569.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213177,2016,1,Public Protection,POL,POL Police,911.0,Police Officers' Association,Q000,Police Services,Q004,...,01981,102772.87,5661.90,35216.67,143651.44,18263.25,11189.52,2197.37,31650.14,175301.58
213180,2016,4,Community Health,DPH,DPH Public Health,22.0,"Prof & Tech Engineers - Personnel, Local 21",1200,Personnel,1244,...,04724,43833.90,0.00,0.00,43833.90,0.00,6371.11,3305.19,9676.30,53510.20
213183,2016,1,Public Protection,POL,POL Police,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1444,...,34666,39291.02,0.00,686.20,39977.22,7439.76,8633.09,3318.77,19391.62,59368.84
213184,2016,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,254.0,"Transport Workers - Fare Inspectors, Local 250-A",9100,Street Transit,9132,...,07940,68106.49,8126.04,2733.79,78966.32,16584.99,13148.81,6435.13,36168.93,115135.25
213191,2016,1,Public Protection,FIR,FIR Fire Department,799.0,"Firefighters - Chiefs/Fire Boat Workers, Local...",H000,Fire Services,H050,...,56749,0.00,0.00,69146.00,69146.00,0.00,0.00,1002.61,1002.61,70148.61

In [23]:
# Selecciona los registros de la base Salarios donde el aÃ±o sea mayor o igual a 2014
sal_m= sal[  sal.Anio.isin(['2014','2015','2016','2017'])  ]
sal_m['Anio'].value_counts()

2017    45693
2016    44087
2015    43078
2014    40868
Name: Anio, dtype: int64

In [24]:
## Filtrado condicional y selecciÃ³n
# Filtrar los Grupos de los Id's-AÃ±o con Salario Mayor a 400000
sal[ sal.Total_Salario>400000 ][['Grupo']]

                                   Grupo
34257   General Administration & Finance
62771   General Administration & Finance
77505   General Administration & Finance
157945  General Administration & Finance
188210                  Community Health

**Ejercicios**
* Obten los IDs de los 5 empleados con mayores beneficios totales del cÃ³digo de departamento "DPH"
* Obten los IDs de los empleados que obtuvieron mayor ingreso por tiempo extra en el aÃ±o 2017
* Cuales son trabajos de los 20 ID-AÃ±o con mayor compensaciÃ³n total, que tienen salario total  
  mayor a 300,000 y no tienen beneficio dental, o, tienen salario total mayor a 200,000 y beneficio dental

In [25]:
s1=sal.sort_values(['Total_Beneficios'],ascending=True)

sol_1=s1[s1.Codigo_Departamento=='DPH'][:5][['ID_EMPLEADO','Total_Beneficios']]

print(sol_1)

       ID_EMPLEADO  Total_Beneficios
10864        49877         -19814.44
96491        10881         -17696.26
119892       49877         -14011.93
155493       10881         -12906.74
204172       12844         -12228.02

In [26]:
# Solucion de una sola linea
EJ1= salarios.sort_values(['Total_Beneficios'], ascending= False
                         )[salarios.Codigo_Departamento=='DPH'][:5][ ['ID_EMPLEADO','Total_Beneficios'] ]
EJ1

NameError: name 'salarios' is not defined

In [95]:
s2=sal.sort_values(['Tiempo_Extra'],ascending=True)

sol_2=s2[s2.Anio=='2017'][:5][['ID_EMPLEADO','Tiempo_Extra']]

print(sol_2)

       ID_EMPLEADO  Tiempo_Extra
34382        22412       -611.75
51916        10174       -284.13
517          56174       -134.40
104988       34453        -93.11
11655        30273        -42.44

In [27]:
# Solucion de una sola linea
EJ2= salarios[ salarios.Anio=='2017' ].sort_values(['Tiempo_Extra'], ascending= False)['ID_EMPLEADO']
EJ2.head()

NameError: name 'salarios' is not defined

In [100]:
s3=sal.sort_values(['Compensacion_Total'],ascending=True)

sol_3=s3[((s3.Total_Salario>300000) & (s3.Beneficio_Dental==0)) | 
         ((s3.Total_Salario>200000) & (s3.Beneficio_Dental>0)) ][:20][['ID_EMPLEADO','Anio','Trabajo']]

print(sol_3)

       ID_EMPLEADO  Anio                        Trabajo
31865        25232  2017                  Special Nurse
13981        35071  2017                  Special Nurse
132014       41469  2013                   Lieutenant 3
127849       27670  2014  Sergeant, (Police Department)
23844        41051  2014   Lieutenant, Fire Suppression
162445       48572  2017                  Special Nurse
66600        43312  2014               Police Officer 3
159902       39472  2013               Police Officer 3
39583        16971  2015                     Sergeant 2
108015       52284  2014                   Lieutenant 3
140841       00485  2014                   Manager VIII
197465       07471  2013               Police Officer 3
165473       44194  2017                  Special Nurse
28613        42730  2017                 Police Officer
159575       47331  2016               Police Officer 2
195700       22006  2017               Police Officer 3
102534       33204  2016               Police Officer 3
107557       28552  2014               Police Officer 3
189825       27654  2016       Adm, SFGH Medical Center
172731       09045  2013                     Sergeant 3

In [28]:
# Solucion de una sola linea

salarios[ ((salarios.Total_Salario>300000) & (salarios.Beneficio_Dental==0)) | 
          ((salarios.Total_Salario>200000) & (salarios.Beneficio_Dental>0))
        ].sort_values(['Compensacion_Total'], ascending= False)[['Trabajo']][:20]

NameError: name 'salarios' is not defined

### Generar una nueva variables

Generar una nueva variable que muestre el porcentaje de remuneracion que representa el salario normal de la compensacion total

In [34]:
# Antes de los cambios
sal.columns

Index(['Anio', 'Codigo_Grupo', 'Grupo', 'Codigo_Departamento', 'Departamento',
       'Codigo_Representante', 'Representante', 'Codigo_Familia', 'Familia',
       'Codigo_Trabajo', 'Trabajo', 'ID_EMPLEADO', 'Salario_Normal',
       'Tiempo_Extra', 'Complementos', 'Total_Salario', 'Retiro',
       'Beneficio_Dental', 'Otros_Beneficios', 'Total_Beneficios',
       'Compensacion_Total', 'Sal_%'],
      dtype='object')

In [35]:
sal['Sal_%'] = sal['Salario_Normal']/sal['Compensacion_Total']

In [36]:
# Despues de los cambios
sal.columns

Index(['Anio', 'Codigo_Grupo', 'Grupo', 'Codigo_Departamento', 'Departamento',
       'Codigo_Representante', 'Representante', 'Codigo_Familia', 'Familia',
       'Codigo_Trabajo', 'Trabajo', 'ID_EMPLEADO', 'Salario_Normal',
       'Tiempo_Extra', 'Complementos', 'Total_Salario', 'Retiro',
       'Beneficio_Dental', 'Otros_Beneficios', 'Total_Beneficios',
       'Compensacion_Total', 'Sal_%'],
      dtype='object')

In [37]:
sal[['Salario_Normal', 'Compensacion_Total', 'Sal_%']]

        Salario_Normal  Compensacion_Total     Sal_%
0            123841.28           258702.08  0.478702
1             61137.60           111229.78  0.549651
2             41192.82            63088.88  0.652933
3             66993.68           140221.48  0.477770
4             74260.80           105750.33  0.702228
...                ...                 ...       ...
213197       112164.03           157070.64  0.714099
213198        82726.75           127205.13  0.650341
213199       102331.86           147127.46  0.695532
213200        21993.22            33554.59  0.655446
213201        91141.48           144730.97  0.629730

[213202 rows x 3 columns]

[Mas funciones de Numpy](https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html)

Tambien podemos apoyarnos de una funcion definida por nosotros para realizar cambios en los daframe que necesitemos. De esto se puede sacar mucho provecho cuando se trabaja con bases de datos a las cuales se les tiene que hacer mucho tratamiento

In [38]:
## FunciÃ³n para etiquetar salarios
def Cate_Sal(salario):
    if salario<5000:
        return '<5000'
    else:
        if salario<10000:
            return '5000-10000'
        else:
            return '10000+'

In [39]:
sal['Categoria_Salario']= sal.Total_Salario.apply(Cate_Sal)
sal.columns

Index(['Anio', 'Codigo_Grupo', 'Grupo', 'Codigo_Departamento', 'Departamento',
       'Codigo_Representante', 'Representante', 'Codigo_Familia', 'Familia',
       'Codigo_Trabajo', 'Trabajo', 'ID_EMPLEADO', 'Salario_Normal',
       'Tiempo_Extra', 'Complementos', 'Total_Salario', 'Retiro',
       'Beneficio_Dental', 'Otros_Beneficios', 'Total_Beneficios',
       'Compensacion_Total', 'Sal_%', 'Categoria_Salario'],
      dtype='object')

In [40]:
sal[['Categoria_Salario','Total_Salario']]

       Categoria_Salario  Total_Salario
0                 10000+      215617.10
1                 10000+       77697.38
2                 10000+       41582.82
3                 10000+       98122.49
4                 10000+       74260.80
...                  ...            ...
213197            10000+      120566.68
213198            10000+       88529.86
213199            10000+      103999.87
213200            10000+       22763.89
213201            10000+      103066.22

[213202 rows x 2 columns]

### Agrupar

El comando que vamos a utilizar es **df.groupby(cols)** donde:
    
**cols:** Lista de columnas con las que se quiere agrupar

Generamos un dataframe agrupando por la variable Grupo

In [41]:
type(sal.groupby('Grupo'))

pandas.core.groupby.generic.DataFrameGroupBy

In [42]:
salarios_grupo=sal.groupby('Grupo')
salarios_grupo.head(2)

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total,Sal_%,Categoria_Salario
0,2013,1,Public Protection,FIR,FIR Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,H003,...,76853.77,14922.05,215617.10,24574.98,14920.13,3589.87,43084.98,258702.08,0.478702,10000+
1,2014,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,261.0,"Laborers, Local 261",7500,Semi-Skilled & General Labor,7514,...,7341.04,9218.74,77697.38,14897.71,12516.70,6117.99,33532.40,111229.78,0.549651,10000+
2,2016,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,0.00,390.00,41582.82,6996.41,11308.96,3200.69,21506.06,63088.88,0.652933,10000+
7,2015,1,Public Protection,DAT,DAT District Attorney,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,8129,...,0.00,0.00,27351.96,6135.08,5786.71,2090.58,14012.37,41364.33,0.661245,10000+
8,2013,3,Human Welfare & Neighborhood Development,DSS,HSA Human Services Agency,535.0,"SEIU - Human Services, Local 1021",2900,Human Services,2905,...,0.00,2122.80,74237.96,13518.68,12803.48,6202.78,32524.94,106762.90,0.675470,10000+
9,2015,6,General Administration & Finance,REG,REG Elections,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1402,...,322.78,0.00,714.03,0.00,119.75,55.28,175.03,889.06,0.440072,<5000
11,2013,4,Community Health,DPH,DPH Public Health,250.0,"SEIU - Health Workers, Local 1021",2500,Med Therapy & Auxiliary,2583,...,5442.31,2150.29,45633.60,7878.23,12334.77,3692.35,23905.35,69538.95,0.547046,10000+
12,2015,6,General Administration & Finance,MYR,MYR Mayor,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",1600,"Payroll, Billing & Accounting",1654,...,0.00,0.00,97120.60,21784.05,12501.58,7985.67,42271.30,139391.90,0.696745,10000+
13,2014,4,Community Health,DPH,DPH Public Health,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,9924,...,0.00,0.00,19205.10,184.90,6605.57,1450.92,8241.39,27446.49,0.699729,10000+
15,2013,3,Human Welfare & Neighborhood Development,CHF,CHF Children;Youth & Families,790.0,"SEIU - Miscellaneous, Local 1021",9700,Community Development,9774,...,0.00,0.00,61996.26,10979.60,8881.03,5217.16,25077.79,87074.05,0.711995,10000+
17,2014,5,Culture & Recreation,LIB,LIB Public Library,790.0,"SEIU - Miscellaneous, Local 1021",3600,Library,3610,...,0.00,0.00,29281.58,6242.84,6234.38,2411.15,14888.37,44169.95,0.662930,10000+
24,2014,5,Culture & Recreation,LIB,LIB Public Library,790.0,"SEIU - Miscellaneous, Local 1021",3600,Library,3602,...,0.00,158.16,17902.04,0.00,0.00,1414.27,1414.27,19316.31,0.918596,10000+
827,2013,7,General City Responsibilities,UNA,GEN General City / Unallocated,253.0,"Transport Workers - Transit Operators, Local 2...",9100,Street Transit,9163,...,860.67,54.51,24344.02,6028.67,4894.80,1918.80,12842.27,37186.29,0.630040,10000+
1293,2013,7,General City Responsibilities,UNA,GEN General City / Unallocated,351.0,Municipal Executive Association - Miscellaneous,9100,Street Transit,9187,...,0.00,0.00,3486.00,0.00,0.00,59.26,59.26,3545.26,0.983285,<5000

In [43]:
salarios_grupo[['Total_Salario']].mean()

                                          Total_Salario
Grupo
Community Health                           70877.396951
Culture & Recreation                       33752.572054
General Administration & Finance           65734.322801
General City Responsibilities              11305.571278
Human Welfare & Neighborhood Development   47285.780526
Public Protection                         108900.969676
Public Works, Transportation & Commerce    71119.427829

Ahora lo agrupamos por dos variables

In [44]:
grupo2=sal.groupby(['Anio','Grupo'])

grupo2.head()

,Anio,Codigo_Grupo,Grupo,Codigo_Departamento,Departamento,Codigo_Representante,Representante,Codigo_Familia,Familia,Codigo_Trabajo,...,Tiempo_Extra,Complementos,Total_Salario,Retiro,Beneficio_Dental,Otros_Beneficios,Total_Beneficios,Compensacion_Total,Sal_%,Categoria_Salario
0,2013,1,Public Protection,FIR,FIR Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,H003,...,76853.77,14922.05,215617.10,24574.98,14920.13,3589.87,43084.98,258702.08,0.478702,10000+
1,2014,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,261.0,"Laborers, Local 261",7500,Semi-Skilled & General Labor,7514,...,7341.04,9218.74,77697.38,14897.71,12516.70,6117.99,33532.40,111229.78,0.549651,10000+
2,2016,2,"Public Works, Transportation & Commerce",AIR,AIR Airport Commission,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",1406,...,0.00,390.00,41582.82,6996.41,11308.96,3200.69,21506.06,63088.88,0.652933,10000+
3,2015,2,"Public Works, Transportation & Commerce",MTA,MTA Municipal Transprtn Agncy,253.0,"Transport Workers - Transit Operators, Local 2...",9100,Street Transit,9163,...,26633.83,4494.98,98122.49,21231.91,13417.45,7449.63,42098.99,140221.48,0.477770,10000+
4,2013,2,"Public Works, Transportation & Commerce",DPW,DPW GSA - Public Works,21.0,"Prof & Tech Engineers - Miscellaneous, Local 21",5200,Professional Engineering,5201,...,0.00,0.00,74260.80,13522.95,11989.39,5977.19,31489.53,105750.33,0.702228,10000+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52776,2016,7,General City Responsibilities,UNA,GEN General City / Unallocated,790.0,"SEIU - Miscellaneous, Local 1021",3200,Recreation,3284,...,0.00,4063.31,4063.31,0.00,0.00,310.85,310.85,4374.16,0.000000,<5000
76147,2015,7,General City Responsibilities,UNA,GEN General City / Unallocated,790.0,"SEIU - Miscellaneous, Local 1021",3200,Recreation,3284,...,0.00,660.08,660.08,0.00,0.00,50.49,50.49,710.57,0.000000,<5000
92917,2014,7,General City Responsibilities,UNA,GEN General City / Unallocated,790.0,"SEIU - Miscellaneous, Local 1021",9100,Street Transit,9504,...,496.76,0.00,6610.76,869.00,1438.70,528.44,2836.14,9446.90,0.647196,5000-10000
99471,2014,7,General City Responsibilities,UNA,GEN General City / Unallocated,790.0,"SEIU - Miscellaneous, Local 1021",3200,Recreation,3284,...,0.00,11128.16,11128.16,0.00,0.00,851.31,851.31,11979.47,0.000000,10000+
102867,2014,7,General City Responsibilities,UNA,GEN General City / Unallocated,351.0,Municipal Executive Association - Miscellaneous,9100,Street Transit,9182,...,0.00,0.00,64400.00,11588.72,-199.96,4845.56,16234.32,80634.32,0.798667,10000+

Agrupamos algunas columans, por dos o mas variables. Puede parecer obvio pero es necesario que la columna por la cual estemos haciendo la agrupacion este dentro de las columas que queremos extraer, de lo contrario arrojara un error.

In [49]:
grupo3= sal[['Anio','Departamento','Salario_Normal',
             'Total_Beneficios']].groupby(['Anio','Departamento'])

In [50]:
grupo3.mean()

                                     Salario_Normal  Total_Beneficios
Anio Departamento
2013 AAM Asian Art Museum              44982.313125      20281.916625
     ADM Gen Svcs Agency-City Admin    55364.922455      23070.773889
     ADP Adult Probation               65442.686742      23700.537528
     AIR Airport Commission            62434.801148      27330.332648
     ART Arts Commission               57293.202391      24131.020435
...                                             ...               ...
2017 TTX Treasurer/Tax Collector       66390.120197      28184.236024
     WAR War Memorial                  52944.817379      22819.480097
     WOM Status Of Women               40331.528667      16984.480667
     WTR Water Enterprise              77030.025267      31135.250371
     WWE Wastewater Enterprise         78645.282414      31821.230603

[268 rows x 2 columns]

## Comando Aggregate

Este comandos nos permite generar diferentes funciones para cada columna de un dataframe agrupado y tiene la ventaja de poder usar las funciones **lambda**. Esto se consigue a partir de un diccionario en el que se indican las columnas y funciones que deben generarse:

## Funciones Lambda

In [56]:
## DefiniciÃ³n de una funciÃ³n que suma dos variables
def summa(a,b):
    su= a+b
    return(su)

In [57]:
## DefiniciÃ³n de una funciÃ³n que suma dos variables con funciones lambda
sum_lambda= lambda x,y: x+y

print('FunciÃ³n Lambda')
print(sum_lambda(10,11))
print('FunciÃ³n def')
print(summa(10,11))

FunciÃ³n Lambda
21
FunciÃ³n def
21